.App {
  font-family: cursive;
  text-align: center;
  background-color: #efbbcc;
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  margin: auto;
  padding: 2rem 1rem;
  color: white;
}

input {
  width: 70%;
  height: 2rem;
}

.btn {
  margin: 0.5rem;
  height: 2rem;
  background-color: #b9d9eb;
  border: none;
  font-size: 1rem;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.no-of-notes {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
}

body {
  margin: 0px;
}

.change {
  border: 1px solid #efbbcc;
  width: 5rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}
.notes {
  border: 1px solid #efbbcc;
  width: 5rem;
  color: black;
  background-color: #b9d9eb;
}

.git-img {
  height: 4rem;
  transition: transform 0.2s;
  margin: 0 auto;
}
.git-img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.twitter-img {
  height: 4rem;
  transition: transform 0.2s;
  margin: 0 auto;
}
.twitter-img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.linkedin-img {
  height: 4rem;
  transition: transform 0.2s;
  margin: 0 auto;
}
.linkedin-img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

li {
  display: inline-block;
  padding: 1.5rem;
}

/* footer {
  margin-top: 10rem;
  padding: 1rem 1rem;
  background-color: #4d1a7f;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
} */
